#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  max-width: none;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #ff6464aa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #faf6f2;
}


.main-navbar .logo {
  position: absolute;
  left: 30px;
  height: 140px;
}

.links-area {
  display: flex;
  gap: 40px;
}

.links-area a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.links-area a.active {
  color: darkred;
}

nav a {
  transition: transform 0.1s ease;
}

nav a:hover {
  transform: scale(1.1);
}

.hero-landing {
  display: grid;
  place-items: start;
  background-image: url(assets/images/HeroImage.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 80vw;
  position: relative;
  border-radius: 80px;
  background-color: transparent;
  margin: 2rem auto;
}

.hero-information {
  z-index: 2;
  position: relative;
  color: #F8F1E9;
  text-align: start;
  padding: 2.5rem 3rem;
  border-radius: 80px 0px 80px 0px;
  text-shadow:
    0 0 8px rgba(0, 0, 0, 0.6),
    2px 2px 4px rgba(0, 0, 0, 0.3),
    -1px -1px 3px rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(4px);
}



.hero-information p {
  font-size: 1.6rem;
  max-width: 900px;
}


.hero-information h1 {
  font-size: 4.5em;
  line-height: 1.1;
  letter-spacing: 2px;
}

.view-menu-button {
  background: white;
  border: none;
  border-radius: 30px;
  height: 60px;
  width: 140px;
  text-align: center;
  color: black;
  margin-top: 20px;
  box-shadow: #CD5C5C 0 3px 3px 0;
}

.view-menu-button:hover {
  background-color: #CD5C5C;
  color: #F8F1E9;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  box-shadow: none;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  max-width: 1500px;
  padding: 3rem 1rem;
  margin: 0 auto;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-form input,
textarea {
  height: 3rem;
  padding: 0.5rem;
  color: #F8F1E9;
  background-color: rgb(34, 13, 13);
  border-radius: 5px;
  width: 100%;
}

.contact-form input::placeholder,
textarea::placeholder {
  color: #8d8983;
}

button {
  background: #CD5C5C;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #b74c4c;
}

iframe {
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


/*Menu*/

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 300px;
  margin: 1.5rem 0;
}

.menu-nav {
  display: flex;
  padding: 50px;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.menu-nav a {
  background-color: #ffb7b7;
  padding: 50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 130px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  color: #413c3c;
  font-weight: 700;
}

.menu-info {
  text-align: center;
}

.menu-grid {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding-bottom: 200px;
  flex-wrap: wrap;
  min-height: 600px;
  padding-bottom: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.menu-card-content {
  max-width: 200px;

}

.menu-card {
  padding: 20px;
  background-color: #e6c2c2c2;
  border-radius: 20px;
  height: 100%;
}

.menu-card img {
  width: 200px;
  height: 120px;
  border-radius: 5px;
}

/*About Us Page*/

.about-us-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 120px;
}

.about-us-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin: 5rem auto;
  max-width: 1200px;
  align-items: center;
}

.photo1 {
  grid-area: 1 / 1 / 2 / 2;
}

.info1 {
  grid-area: 1 / 2 / 2 / 4;
  text-align: start;
  background-color: #e6c2c2;
  padding: 3.5rem;
  border-radius: 20px;
}

.photo2 {
  grid-area: 2 / 1 / 3 / 2;
}

.info2 {
  grid-area: 2 / 2 / 3 / 4;
  text-align: start;
  background-color: #c2d0e6;
  padding: 3.5rem;
  border-radius: 20px;
}

.aboutmephoto {
  max-width: 550px;
  border-radius: 20px;
  height: auto;
}

.about-us-grid p {
  font-size: 18px;
  max-width: 550px;
}

.about-us-grid h2 {
  font-size: 40px;
}



.menu-icon {
  display: none;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.mobile-nav a {
  font-size: 50px;
  color: white;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: black;
  z-index: 1000;
}

.menu-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1100;
  width: 40px;
  height: auto;
}





/* Tablets */
@media (max-width: 1024px) {}

/* Phones */
@media (max-width: 768px) {

  .menu-icon {
    right: 10px;
    padding: 0;
    width: 36px;
  }

  .menu-page {
    padding-top: 150px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
  }

  .menu-nav {
    max-width: 100%;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu-nav a {
    padding: 15px 18px;
    width: auto;
    height: auto;
    font-size: 14px;
    border-radius: 16px;
    align-items: center;
  }

  .main-navbar {
    display: none;
  }

  .hero-landing {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    min-width: 320px;
  }

  .hero-information {
    color: #F8F1E9;
    text-align: center;
    border-radius: 80px;
    padding: 32px;
  }

  p {
    max-width: 270px;
    width: 100%;
    align-self: center;
    margin: 0 auto;
  }

  .menu-icon {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    padding: 5px;
    border-radius: 10px;
  }

  .about-us-page {
    padding-top: 150px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
  }

  .about-us-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    grid-template-rows: auto;

  }

  .photo1,
  .info1,
  .photo2,
  .info2 {
    grid-area: auto;
  }

  .photo1 {
    order: 1;
  }

  .info1 {
    order: 2;
  }

  .photo2 {
    order: 3;
  }

  .info2 {
    order: 4;
  }

  .aboutmephoto {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }


  .contact-page {
    padding: 150px 20px 0 20px;
    min-width: 320px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    padding-bottom: 50px;
  }

  .contact-grid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .contact-info {
    align-items: center;
    text-align: center;
  }

  iframe {
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 330px;
    height: 330px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}